<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>No llegues tarde</title>
    <link rel="stylesheet" type="text/css" href="style1.css">
</head>
<body>
    <header>
        <img src="img/logo.png" width="200px" height="106px" alt= "FactoriaF5">
    </header>
        <main id="buenosDias">
            <h1>Soy Nombre y Apellido, y quiero enviar mi justificante ahora</h1>
            <form action="/justificante">
                <button type="submit">Adjunto justificante</button>
                <button type="submit">IMG</button>
            </form>
                <button type="submit">Enviar justificante por mail</button>
        </main>
    <main></main>
    <footer><h5>Fecha y hora</h5></footer>
</body>
</html>