<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>No llegues tarde</title>
    <link rel="stylesheet" type="text/css" href="style1.css">
</head>
<body>
    <header>
        <img src="img/logo.png" width="200px" height="106px" alt= "FactoriaF5">
    </header>
        <main id="resumenNormas">
            <h1>Normas</h1>
                <p>3 Retrasos = 1 Falta</p>
                <p>5 Faltas =  Revision y Alerta</p>
                <p>10 Faltas =  Expulsion Definitiva</p>
            </form>
            <form>
                <button type="submit">Salir</button>
            </form>
                
        </main>
    <main></main>
    <footer><h5>Fecha y hora</h5></footer>
</body>
</html>